@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NEXA SCRIPT';
    src: url('./fonts/NexaScript.otf');
}

@font-face {
    font-family: 'Niveau Grotesk';
    src: url('./fonts/NiveauGrotesk.ttf');
}
